@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Righteous&display=swap');


/* Estilos generales */

body {
    font-family: 'Kumbh', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A0A12;
}

/* Estilos para el mensaje de bienvenida */


.BNV-login {
    color: aliceblue;
    font-size: 40px;
    margin: 5%;
    position: relative;
    text-align: center;
    background-color: #321D40;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Nombre-login {
    color: aliceblue;
    font-size: 14px;
    margin: 5%;
    position: relative;
    text-align: center;
    padding: 30px;
}

/* Estilos para el formulario */
form#close {
    display: flex;
    justify-content: center; /* Centrar el botón horizontalmente */
    margin-top: 20px; /* Espacio superior */
}

input[type="submit"] {
    padding: 20px; /* Espaciado interno */
    font-size: 25px;
    border: none; /* Sin bordes */
    background-color: #BF264F; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor en forma de mano al pasar por encima */
    border-radius: 20px; /* Bordes redondeados */
}

input[type="submit"]:hover {
    background-color: #490b1b; /* Color de fondo al pasar el mouse */
}

.imagen-esquina {
    position: absolute;
    margin-top: 30px;
    right: 10px;
    bottom: 10px;
    max-width: 30%; /* Hace que la imagen sea responsiva */
    height: auto;
    z-index: 10;
}

/* Consulta de medios para dispositivos móviles */
@media (max-width: 600px) {
    .imagen-esquina {
        max-width: 50%; /* O un valor fijo como 150px si prefieres un tamaño específico */
    }
}