@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Righteous&display=swap');

/* ResetPassword.css */

html {
    height: 100%;
    background: linear-gradient(to bottom, #4C3973, #2d1a3a);
}

body {
    font-family: 'Kumbh', sans-serif;
    background-color: #0A0A12;
    background: linear-gradient(to bottom, #4C3973, #2d1a3a);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-central {
    position: fixed; /* O puedes usar 'absolute' si prefieres */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* O el ancho que prefieras */
    max-width: 500px; /* O el máximo ancho que prefieras */
}

section {
    background-color: #fff;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="email"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

input[type="submit"] {
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #BF264F;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #881836;
}